.header{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    font-weight: bolder;
}

p{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-weight: lighter;
    font-size: 20px;
    color: rgb(80, 79, 79);
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.btn{
    border-radius: 30px;
}

.bookshelf-react{
    margin-top: 3rem;
    margin-right: 5rem;
    float: right;
    width: 500px;
    height: 350px;
    border-radius: 20px;
}

h2{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(80, 79, 79);
}

.list{
    margin-top: 2rem;
}

.list-item{
    margin-left: 5rem;
    font-size: 20px;
}

.footer{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.footer-text{
    margin-top: 10rem;
    float: left;
}